
<div class="row">

    <div class="col-md-4">

        <p class="input-group contenedor_combo_grande">
            <label for="habilitar_rol" style='margin-right: 5px;'>Habilitar Rol</label>
        <input-check ng-model="rootRoles.rolAGuardar.estado" style='margin-right: 15px;' id="habilitar_rol" ></input-check>

        </p>
        <p class="input-group contenedor_combo_grande">

        <ui-select ng-model="rootRoles.empresaSeleccionada"
                   theme="select2"
                   ng-change="onEmpresaSeleccionada()"
                   class="contenedor_combo_grande">
            <ui-select-match  placeholder="Seleccionar Empresa">{{$select.selected.getNombre()}}</ui-select-match>
            <ui-select-choices repeat="empresa in rootRoles.empresas | filter:$select.search">
                {{empresa.getNombre()}}
            </ui-select-choices>
        </ui-select>


        </p>

        <p class="input-group">
            <input type="text" ng-model='rootRoles.rolAGuardar.nombre' class="form-control input-sm"  placeholder="Nombre Rol" />
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-ok"></i>
            </span>
        </p> 


        <p class="input-group contenedor_combo_grande">
            <textarea class="form-control observacion_modulo input-sm" ng-model='rootRoles.rolAGuardar.observacion' placeholder="Observacion"></textarea>

        </p> 
        <p class="input-group" >
        </p>

        <button class="btn btn-default  pull-left" ng-click='onVolver()'>
            <span class="glyphicon glyphicon-menu-left"></span>
            Cancelar
        </button>

        <div class="pull-right">
            <button class="btn btn-default " ng-click='onLimpiarFormulario()'>
                <span class="glyphicon glyphicon-plus"></span>
                Nuevo
            </button>

            <button class="btn btn-default " ng-click='onGuardarRol()'>
                <span class="glyphicon glyphicon-floppy-disk"></span>
                Guardar
            </button>

        </div>

    </div>

    <div class="col-md-4" ng-if='rootRoles.rolAGuardar.id > 0'>
        <tree-search treeId="modulos_empresas" class="pull-right" style="padding-bottom: 2px" > </tree-search>
        <div arbol-modulos plugins='checkbox,contextmenu,sort' tipo='multiple' estado='modulos_empresas' multiples_nodos="true" id="modulos_empresas" style="clear:both" class="contenedorArbol"></div>
    </div>

    <div class="col-md-4" ng-if='rootRoles.rolAGuardar.id > 0' ng-controller='OpcionesModulosController' ng-init='init({eliminar:false, detalle:false, seleccionar:true})'>
        <div class="table-responsive" >
            <div class="grid-responsive listado_opciones" ng-grid="listado_opciones">

            </div>
        </div>
    </div>
</div>