
<div>
    <div class="col-md-1">
        <button class="btn btn-default " ng-click='onNuevoRol()'>
            <span class="glyphicon glyphicon-plus"></span>
            Nuevo

        </button>
    </div>

    <div class="col-sm-3 col-md-3">

        <ui-select ng-model="rootRoles.empresaSeleccionada"
                   theme="select2"
                   ng-change="onEmpresaSeleccionada()"
                   class="form-control selectgeneral">
            <ui-select-match  placeholder="Seleccionar Empresa">{{$select.selected.getNombre()}}</ui-select-match>
            <ui-select-choices repeat="empresa in rootRoles.empresas | filter:$select.search">
                {{empresa.getNombre()}}
            </ui-select-choices>
        </ui-select>
    </div>
</div>
<div class="input-group navbar-form">

    <input type="text" class="form-control pull-right" ng-keypress="onBuscarRol($event)" ng-model="rootRoles.termino_busqueda" placeholder="Buscar" />
    <div class="input-group-btn" >
        <button class="btn btn-default" type="submit" ng-click="onBuscarRol({which:13})"><i class="glyphicon glyphicon-search"></i></button>
    </div>

</div>


<div class="table-responsive" >

    <div class="defaultGrid grid-responsive" ng-grid="listado_roles">

    </div>
</div>

<br/>

<div class="row text-center">
    <button type="button" class="btn btn-default btn-medium" ng-disabled="rootRoles.paginaactual == 1" ng-click="paginaAnterior()">
        <span class="glyphicon glyphicon-chevron-left" ></span>
    </button>
    <button type="button" class="btn btn-default btn-medium" ng-disabled="rootRoles.empresaSeleccionada.getRoles().length == 0" ng-click="paginaSiguiente()">
        <span class="glyphicon glyphicon-chevron-right" ></span>
    </button>
</div>

