<div class="container tabledisplay">       
    <div id="loginbox"  class="mainbox tablecell col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
        <div class="panel panel-primary" >
            <div class="panel-heading">
                <div class="panel-title">Dusoft - Panel De Control</div>
                <!--div style="float:right; font-size: 80%; position: relative; top:-17px;"><a href="#recuperarContrasenia" style="color: #fff">Olvidó Contraseña?</a></div-->
            </div>     
              <form id="loginform" class="form-horizontal" name="loginform" role="form">
                <div style="padding-top:30px" class="panel-body" >

                    <alert type="danger"  class="col-sm-12 alert alert-danger" ng-show="mostrarmensaje">{{msgerror}}</alert>

                    <div class="col-xs-6 col-sm-6 col-md-6 separator social-login-box" style="width: 200px; height: 116px; position: relative;"> <br />
                        <img src="/images/Very-Basic-Lock-icon.png" style="position: absolute; top: -11px;">
                    </div>


                  

                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="login-username" name="login-username" type="text" popover-placement="right" popover="Requerido" popover-trigger="focus" required class="form-control"  placeholder="Usuario" required ng-model="usuario"  >                                        
                        </div>

                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="login-password" popover-placement="right" popover="Requerido" popover-trigger="focus" type="password" required class="form-control"  placeholder="Contraseña" required ng-model="clave">
                        </div>                                        
                       


                </div>    
                <div class="panel-footer">
                    <div class="row">
                        <div style="margin-top:10px; padding-right:32px;" class="form-group">                         
                            <div class="pull-right">
                                <button id="btn-fbsignup" type="submit" class="btn btn-primary" name="btnentrar" ng-disabled="loginform.$invalid" ng-click="autenticar(usuario, clave)"><i class="icon-facebook"></i> Iniciar </button>
                            </div>  
                        </div>
                    </div>
                </div>
            </form>  
        </div>  
    </div>
</div>

