<div>


	<h3>Crear cliente</h3>

	<ul>
	    <li ng-repeat="cliente in agencia.clientes">
	      <span>{{cliente.nombre}}  <a href="javascript:void()" ng-click="onBorrarCliente(cliente)">Borrar</a></span></span>
	    </li>
	</ul>

	<!--form name="form">
		<input type="text" name="proveedorNombre" placeholder="Nombre proveedor" ng-model="proveedorNombre"  required/>
		 <span class="error" ng-show="form.proveedorNombre.$error.required">Required!</span></br>
		<input type="button" value="Crear proveedor" ng-click="onCrearProveedor(proveedorNombre)" /> 
	</form-->
	<div ui-view></div>

</div>