.listado_opciones, .listado_roles, .listado_centros_utilidad, .listado_bodegas{
    height:250px;
    position:relative;
    width:100%;
    min-width: 100%;
}

.listado_roles, .listado_centros_utilidad, .listado_bodegas{
    margin:25px 0px 20px 0px;
    height: 300px;
}

.listado_centros_utilidad, .listado_bodegas{
    margin:25px 0px 20px 0px;
    height: 150px;
}


.contenedorBuscarRol{
    margin-top:20px;
}

.contenedor_opciones{
    height: 240px;
}

.listaIconos{
    padding-bottom: 10px;
}

textarea.observacion_modulo{
    height:150px;
}


.contenedorEstado{
    position: absolute;
    bottom:20px;
    right:0px;
}

.contenedorFoto{
    width:130px;
    height: 140px;
    overflow: hidden;
    text-align: center;
}

.contenedorOpcionesFoto{
    position: absolute;
    top: 0px;
}

.contenedorOpcionesFoto .btn-sm{
    padding: 1px 4px;
}

.avatarUsuario{
    position: relative; /* allows repositioning */
    left: 100%; /* move the whole width of the image to the right */
    margin-left: -200%;
}

.contenedorPredeterminado{
    margin:20px 0px 20px 0px;
    float:right;
}

.tablaRoles{
    clear:both;
}

.contenedorDropdown{
    width: 100%;
}

.contenedorCamposTercero{
    margin-bottom: 20px;
    margin-top: 10px;
}

.gridContactos{
    height: 300px;
}

.txtValorTerceros{
    margin-left: 10px;
}


/* Extra Small */
@media(max-width:767px){
    .txtValorTerceros{
        margin-top: 10px;
        margin-left: 0px;
    }
}

/* Small */
@media(min-width:768px) and (max-width:991px){
    .txtValorTerceros{
        margin-top: 10px;
        margin-left: 0px;
    }
}

.multiSelectTerceros.select2-container-multi .select2-choices .select2-search-field input{
    padding:0px 5px 0px 5px;
}
