<div>

	<!--route 1 {{welcomemsg}} got to child  <a ui-sref="route1.item">Route item</a>-->

	<style type="text/css">
		.gridStyle {
		    border: 1px solid rgb(212,212,212);
		    width: 100%; 
		    height: 450px;
		}
	</style>


  <tabset  class="">
    
    <tab heading="Clientes">
      <div class="input-group navbar-form">

        <input type="text" class="form-control pull-right" ng-keypress="onKeyPress($event, termino_busqueda)" ng-model="termino_busqueda" placeholder="Search" name="srch-term" id="srch-term">
          <div class="input-group-btn" >
            <button class="btn btn-default" type="submit" ng-click="buscarPedidosCliente(termino_busqueda)"><i class="glyphicon glyphicon-search"></i></button>
        </div>

      </div>
    	<div class="gridStyle" ng-grid="gridOptions">

   		</div>
    </tab>
    <tab heading="Farmacias">
    	farmacias
    </tab>

  </tabset>


</div>