<div>

    <div class="input-btn-group topBarChat ">
        <!--button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-user" ng-click="onMostrarVentanaGrupos()"></span></button-->
        <!--button class="btn btn-default btn-xs" type="submit" ng-click="onBuscarRol({which:13})"><i class="glyphicon glyphicon-paperclip"></i></button-->
        <!--div flow-init="rootPedidoFarmaciaTemporal.opcionesArchivo"  
            flow-file-success="respuestaArchivoPlano($file, $message);" 
            flow-file-added="!!{xlsx:1,xls:1}[$file.getExtension()]" 
            flow-progress="onProgresoArchivo( $file, $flow )"
            flow-files-submitted="cargarArchivoPlano($flow)"  flow-prevent-drop=""  
            flow-drag-enter="dropClass='drag-over'" flow-drag-leave="dropClass=''"
            ng-click="subirArchivoPlano()">
            
            <input type="file" flow-btn class="btn btn-default btn-xs ng-scope" title=""/>
            <span class="btn" flow-btn></span>
        </div -->
        
        <div class="fileUploadChat btn btn-default btn-xs" ng-if="root.conversacionSeleccioanda"  >
            <i class="glyphicon glyphicon-paperclip"></i>
            <input title="Adjuntar archivo" type="file" class="uploadChat" onchange="angular.element(this).scope().subirArchivo(this.files)" />
        </div>

  
        <!--button
            flow-init="rootPedidoFarmaciaTemporal.opcionesArchivo"  
            flow-file-success="respuestaArchivoPlano($file, $message);" 
            flow-file-added="!!{xlsx:1,xls:1}[$file.getExtension()]" 
            flow-progress="onProgresoArchivo( $file, $flow )"
            flow-files-submitted="cargarArchivoPlano($flow)"  flow-prevent-drop=""  
            flow-drag-enter="dropClass='drag-over'" flow-drag-leave="dropClass=''"
            class="btn btn-default btn-xs ng-scope" type="submit" 
            ng-click="subirArchivoPlano()"><i class="glyphicon glyphicon-paperclip"></i></button>
        
        
        <!--div flow-init="rootPedidoFarmaciaTemporal.opcionesArchivo"  
            flow-file-success="respuestaArchivoPlano($file, $message);" 
            flow-file-added="!!{xlsx:1,xls:1}[$file.getExtension()]" 
            flow-progress="onProgresoArchivo( $file, $flow )"
            flow-files-submitted="cargarArchivoPlano($flow)" class="ng-scope" flow-prevent-drop=""  
            flow-drag-enter="dropClass='drag-over'" flow-drag-leave="dropClass=''" >
           <div class="drop txt-center" flow-drop="" flow-drop-enabled="!(vista_previa || codigo_proveedor_id == '' || unidad_negocio_id == '' || observacion == '')" ng-class="dropClass" >

               <div class="col-md-12">
                   <img  ng-hide="$flow.files.length" src="../../../images/Cloud-Upload-Blue.png" style="max-width: 200px; max-height: 150px; line-height: 20px; margin-bottom: 5px;"/>
                   <img ng-show="$flow.files.length" src="../../../images/xls.png" style="max-width: 200px; max-height: 150px; line-height: 20px; margin-bottom: 5px;"/>
               </div>
               <div ng-hide="$flow.files.length">
                    Arrastrar y Soltar el archivo AQUI!!                                                   
               </div>
               <div class="" ng-repeat="file in $flow.files" ng-show="$flow.files.length">
                   Nombre Archivo : <label><span ng-bind="file.name"></span></label>    

                   <div class="progress progress-striped" ng-class="{active: file.isUploading()}">
                       <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                            aria-valuemax="100" ng-style="{width: rootPedidoFarmaciaTemporal.progresoArchivo + '%'}">
                       </div>
                       <span class="sr-only ng-binding"><span ng-bind="rootPedidoFarmaciaTemporal.progresoArchivo"></span>% Completado</span>
                   </div>

               </div>
           </div>

           <br>

           <div class="well txt-center">
               <span class="btn btn-default" flow-btn=""  ng-hide="$flow.files.length" >
                   <span class="glyphicon glyphicon-folder-open" style="margin-right: 5px;"></span> Seleccionar Archivo
                   <input type="file" style="visibility: hidden; position: absolute;">
               </span>                                                

               <button class="btn btn-default" ng-click="subirArchivoPlano()" ng-show="$flow.files.length">
                   <span class="glyphicon glyphicon-cloud-upload" ></span> Subir
               </button>
           </div>
       </div-->
        
        
        
        <!--button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-phone"></span></button-->

        <button title="Cerrar" class="btn btn-default btn-xs btnCloseChat pull-right" ng-click="$parent.onCerrarChat()"><span class="glyphicon glyphicon-remove"></span></button>
        <button title="Ventana completa" class="btn btn-default btn-xs pull-right btnVentanaCompletaChat" ng-click="onAbrirVentanaCompleta()"><span class="glyphicon glyphicon-resize-full" "></span></button>
        <button class="btn btn-default btn-xs pull-right toogleChat"><span class="glyphicon glyphicon-minus iconoToogle"></span></button>
        
        
    </div>
    <div class="chatBody">
        
        <tabset>

            <tab ng-click="onTraerConversaciones()" class="tabConversaciones">
                <tab-heading class="headerConversaciones">
                    <i class="glyphicon glyphicon-list" ></i> <b></b>
                </tab-heading>
                <br>
                <!--div class="input-group navbar-form" style="padding-right: 0px;">

                    <input type="text" class="form-control pull-right" ng-keypress="onBuscarConversaciones($event)" ng-model="root.terminoBusqueda" placeholder="Buscar" />
                    <div class="input-group-btn" >
                        <button class="btn btn-default" type="submit" ng-click="onBuscarConversaciones({which:13})"><i class="glyphicon glyphicon-search"></i></button>
                    </div>

                </div-->
                <div>
                    <div class="input-group">

                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span ng-bind="root.filtro.nombre"></span> <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li ng-repeat="filtro in root.filtros">
                                    <a href="javascript:void(0)" ng-click="onSeleccionFiltro(filtro)"><span ng-bind="filtro.nombre"></span></a>
                                </li>
                            </ul>
                        </div>

                        <input type="text" class="form-control pull-right" 
                               ng-keypress="onBuscarConversaciones($event)" ng-model="root.terminoBusqueda" placeholder="Buscar" name="srch-term" id="srch-term">

                        <div class="input-group-btn">
                            <button class="btn btn-default pull-right" type="submit" ng-click="onBuscarConversaciones({which:13})"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                </div>     
                <br/>
                <div class="defaultGrid chatGrid" ng-grid="root.listaConversaciones">

                </div>

            </tab>

            <tab active="root.conversacionSeleccioanda" disabled="root.conversacionSeleccionada.detalle.length == 0"> 
                <tab-heading >
                   <i class="glyphicon glyphicon-comment"></i> <b> </b>
                </tab-heading>
                <br>
                <!--button class="btn btn-default col-md-12" ng-click="cargarMasDetalle()" style="margin-bottom: 20px;">Cargar Más</button-->
                <div class="panelConversacion" chat-scroll>
                    
                    <div id="{{detalle.getId()}}" ng-repeat="detalle in root.conversacionSeleccionada.detalle" class="contenedorDetalle" ng-class="($index % 2 == 0) ? 'detallePar' : 'detalleInpar'">
                        <div>
                            <label ng-if="detalle.getUsuario() == root.usuarioActual.getNombreUsuario()">Yo</label>
                            <label ng-if="detalle.getUsuario() != root.usuarioActual.getNombreUsuario()">{{detalle.getUsuario()}}</label>
                            <span class="pull-right" style="font-size: 11px">{{detalle.getFechaCreacion()}}</span>
                        </div>
                        <p ng-if="detalle.getArchivo().length == 0">
                           <span ng-bind-html="highlight(detalle.getMensaje(), root.terminoBusqueda)" ng-if="detalle.getArchivo().length == 0">

                                 {{detalle.getMensaje()}}  
                           </span>
                        </p>
                        <p ng-if="detalle.getArchivo().length > 0">
                            <a href="/tmp/{{detalle.getArchivo()}}" target="_blank"> <i class="glyphicon glyphicon-file"></i>
 
                                <span ng-bind-html="highlight(detalle.getArchivo(), root.terminoBusqueda)" >
                                    {{detalle.getArchivo()}}
                                </span>

                                <span ng-if="esImagen(detalle.getArchivo())">
                                    <img class="chatImg" onerror="angular.element(this).scope().onErrorImagen(this)" ng-src="/tmp/{{detalle.getArchivo()}}"/>
                                </span>
                            </a>
                        </p>

                    </div>
                    
                </div>
                
                <div class="row">
                    
                    

                    <div class="chatPanel col-xs-12">

                        <textarea  placeholder="Escribir..." class="textAreaChat" ng-keypress="onGuardarMensaje($event)" ng-model="root.mensaje" style="width: 100%"></textarea>


                    </div>
                    <button class="btn btn-success btn-xs col-xs-1 indicadorScrollChat" ><i class="glyphicon glyphicon-arrow-down"></i></button>
                    
                </div>

            </tab>                

        </tabset>
        
        
       
    </div>
</div>
<!--div class="row text-center">
    <button type="button" class="btn btn-default btn-medium" ng-disabled="rootRoles.paginaactual == 1" ng-click="paginaAnterior()">
        <span class="glyphicon glyphicon-chevron-left" ></span>
    </button>
    <button type="button" class="btn btn-default btn-medium" ng-disabled="rootRoles.empresaSeleccionada.getRoles().length == 0" ng-click="paginaSiguiente()">
        <span class="glyphicon glyphicon-chevron-right" ></span>
    </button>
</div-- >

