
<div class="row" directiva-general-modulos>
    <div class="col-md-4">
        <tabset>
            <tab>
                <tab-heading>
                    Usuario
                </tab-heading>

                <div class="panel">
                    <div class="panel-body">

                        <div class="input-group contenedor_combo_grande">

                            <div class="pull-right contenedorEstado">
                                <label for="habilitar" style='margin-right: 5px;' >Activar</label>
                                <input-check ng-model="rootUsuario.usuarioAGuardar.estado" id="habilitar"  ></input-check>
                            </div>
                            <div  flow-init="opciones_archivo"  flow-file-added="!!{jpg:1,png:1}[$file.getExtension()]" class="ng-scope pull-left contenedorFoto" flow-prevent-drop=""  flow-drag-enter="dropClass='drag-over'" flow-drag-leave="dropClass=''" flow-files-submitted="cargar_archivo($flow)" flow-file-success="respuestaImagenAvatar($file, $message);" >
                                <div class="drop txt-center" flow-drop="" ng-class="dropClass" >

                                    <div class="col-md-12 well">
                                        <img  ng-hide="$flow.files.length || rootUsuario.avatar != ''" ng-src="{{rootUsuario.avatar_empty}}" style="height:  80px;"/>
                                        <img ng-show="$flow.files.length || rootUsuario.avatar != ''" ng-src="{{rootUsuario.avatar}}" flow-img="$flow.files[0]" style="height:  80px;" class="avatarUsuario" />
                                    </div>

                                </div>

                                <br>

                                <div class="contenedorOpcionesFoto" ng-if="rootUsuario.usuarioAGuardar.id != ''">
                                    <span class="btn btn-default " flow-btn="" ng-hide="$flow.files.length" ng-disabled="vista_previa">
                                        <span class="glyphicon glyphicon-folder-open" style="margin-right: 5px;"></span>
                                        <input type="file" style="visibility: hidden; position: absolute;">
                                    </span>                                                
                                    <button class="btn btn-default " ng-click="$flow.cancel()" ng-show="$flow.files.length">
                                        <span class="glyphicon glyphicon-minus" ></span>
                                    </button>
                                    <button class="btn btn-default " ng-click="subirImagenUsuario()"  ng-show="$flow.files.length">
                                        <span class="glyphicon glyphicon-cloud-upload" ></span>
                                    </button>
                                </div>
                            </div>


                        </div>

                        <p class="input-group">

                            <input type="text" class="form-control validar_caracteres" ng-model='rootUsuario.usuarioAGuardar.nombre' placeholder="Nombre"  />
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-ok"></i>
                            </span>
                        </p> 

                        <p class="input-group">
                            <input type="text" class="form-control camelCase" ng-model='rootUsuario.usuarioAGuardar.usuario'  placeholder="Usuario" name="srch-term" />
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-user"></i>
                            </span>
                        </p>


                        <p class="input-group">

                            <input type="text" class="form-control readonlyinput" datepicker-popup="{{format}}" ng-model="rootUsuario.usuarioAGuardar.fechaCaducidad" is-open="abrir" readonly  close-text="Cerrar" ng-change="fechaSeleccionada()" clear-text="Borrar" current-text="Hoy" placeholder="Fecha Caducación" show-weeks="false" toggle-weeks-text="#" ng-click = "abrir = true"  />
                            <span class="input-group-addon">

                                <i class="glyphicon glyphicon-calendar"></i>
                            </span>
                        </p>

                        <div class="row">
                            <div class="col-md-6">
                                <p class="input-group">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-lock"></i>
                                    </span>
                                    <input type="password" class="form-control" ng-model='rootUsuario.usuarioAGuardar.clave'  placeholder="Clave"  />

                                </p>
                            </div>
                            <div class="col-md-6">
                                <p class="input-group">
                                    <input type="password" class="form-control" ng-model='rootUsuario.confirmacionClave'  placeholder="Confirmar Clave"  />
                                    <span class="input-group-addon">
                                        <i class="" 
                                           ng-class="{'glyphicon glyphicon-remove':rootUsuario.confirmacionClave != rootUsuario.usuarioAGuardar.clave, 'glyphicon glyphicon-ok':rootUsuario.confirmacionClave == rootUsuario.usuarioAGuardar.clave}"></i>
                                    </span>   
                                </p>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-md-6">
                                <p class="input-group">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-envelope"></i>
                                    </span>
                                    <input type="text" class="form-control" ng-model='rootUsuario.usuarioAGuardar.email'  placeholder="Email"  />

                                </p> 
                            </div>
                            <div class="col-md-6">
                                <p class="input-group">
                                    <input type="text" class="form-control" ng-model='rootUsuario.confirmacionEmail'  placeholder="Confirmar Email"  />
                                    <span class="input-group-addon">
                                        <i class="" 
                                           ng-class="{'glyphicon glyphicon-remove':rootUsuario.confirmacionEmail != rootUsuario.usuarioAGuardar.email, 'glyphicon glyphicon-ok':rootUsuario.confirmacionEmail == rootUsuario.usuarioAGuardar.email}"></i>
                                    </span>
                                </p> 
                            </div>
                        </div>

                        <p class="input-group contenedor_combo_grande">
                            <textarea class="form-control observacion_modulo input-sm" ng-model='rootUsuario.usuarioAGuardar.descripcion' placeholder="Observacion"></textarea>

                        </p> 
                        </br>

                        <button class="btn btn-default  pull-left" ng-click='onVolver()'>
                            Cancelar
                            <span class="glyphicon glyphicon-menu-left"></span>
                        </button>

                        <div class="pull-right">
                            <button class="btn btn-default " ng-click='onLimpiarFormulario()'>
                                <span class="glyphicon glyphicon-plus"></span>
                                Nuevo
                            </button>

                            <button class="btn btn-default " ng-click='onGuardarUsuario()'>
                                <span class="glyphicon glyphicon-floppy-disk"></span> 
                                Guardar
                            </button>

                        </div>

                    </div>
                </div>

            </tab>
            <tab ng-if="rootUsuario.usuarioAGuardar.id != ''">
                <tab-heading>
                    Permisos
                </tab-heading>

                <div class="panel">
                    <div class="panel-body">
                        
                        <p class="contenedorPredeterminado ">
                                <label for="habilitar" style='margin-right: 5px;' >Empresa Predeterminada</label>
                                <input-check ng-model="rootUsuario.empresaSeleccionada.predeterminada" ng-change="onCambiarPredeterminadoEmpresa()" ng-disabled="rootUsuario.rolAGuardar.getId() == 0 || rootUsuario.empresaSeleccionada.predeterminada"   ></input-check>
                        </p>
                        <ui-select ng-model="rootUsuario.empresaSeleccionada"
                                   theme="select2"
                                   ng-change="onEmpresaSeleccionada()"
                                   class="contenedor_combo_grande">
                            <ui-select-match  placeholder="Seleccionar Empresa">{{$select.selected.getNombre()}}</ui-select-match>
                            <ui-select-choices repeat="empresa in rootUsuario.empresas | filter:$select.search">
                                {{empresa.getNombre()}}
                            </ui-select-choices>
                        </ui-select>
                       

                        <div class="input-group contenedorBuscarRol">

                            <input type="text" class="form-control pull-right input-sm" ng-keypress="onBuscarRol($event)" ng-model="rootUsuario.termino_busqueda" placeholder="Buscar Rol" />
                            <div class="input-group-btn" >
                                <button class="btn btn-default input-sm" type="submit" ng-click="onBuscarRol({which:13})"><i class="glyphicon glyphicon-search"></i></button>
                            </div>

                        </div>
                        
                        
                        <div class="table-responsive tablaRoles" >
                            <div class="grid-responsive listado_roles" ng-grid="listado_roles">

                            </div>
                        </div>

                        <div class="row text-center">
                            <button type="button" class="btn btn-default " ng-disabled="rootUsuario.paginaactual == 1" ng-click="paginaAnterior()">
                                <span class="glyphicon glyphicon-chevron-left" ></span>
                            </button>
                            <button type="button" class="btn btn-default " ng-disabled="rootUsuario.empresaSeleccionada.getRoles().length == 0" ng-click="paginaSiguiente()">
                                <span class="glyphicon glyphicon-chevron-right" ></span>
                            </button>
                        </div>
                    </div>
                </div>
            </tab>
            
            <tab ng-if='rootUsuario.rolAGuardar.id > 0'>
                <tab-heading>
                    Centro Utilidad
                </tab-heading>
                        
                         <div class="input-group contenedorBuscarRol">

                            <input type="text" class="form-control pull-right input-sm" ng-keypress="onBuscarCentroUtilidad($event)" ng-model="rootUsuario.termino_busqueda_centro" placeholder="Buscar Centro Utilidad" />
                            <div class="input-group-btn" >
                                <button class="btn btn-default input-sm" type="submit" ng-click="onBuscarCentroUtilidad({which:13})"><i class="glyphicon glyphicon-search"></i></button>
                            </div>

                        </div>
                        
                        <div class="table-responsive tablaRoles" >
                            <div class="grid-responsive listado_centros_utilidad" ng-grid="listado_centros_utilidad">

                            </div>
                        </div>
                
                        <div class="row text-center">
                            <button type="button" class="btn btn-default btn-medium" ng-disabled="rootUsuarios.paginaActualCentros == 1" ng-click="paginaAnteriorCentros()">
                                <span class="glyphicon glyphicon-chevron-left" ></span>
                            </button>
                            <button type="button" class="btn btn-default btn-medium" ng-disabled="rootUsuario.empresaSeleccionada.centrosUtilidad.length == 0" ng-click="paginaSiguienteCentros()">
                                <span class="glyphicon glyphicon-chevron-right" ></span>
                            </button>
                        </div>
                        
                        
                        
                        <div class="table-responsive tablaRoles" >
                            <div class="grid-responsive listado_bodegas" ng-grid="listado_bodegas">

                            </div>
                        </div>
                
                
            </tab>

    </div>

    <div class="col-md-4" ng-if='rootUsuario.rolAGuardar.id > 0' >
        <tree-search treeId="modulos_empresas_usuario" class="pull-right" style="padding-bottom: 7px" > </tree-search>
        <div arbol-modulos  obtenerHijos="obtenerHijos()" plugins='checkbox,contextmenu,sort' style="clear:both;" tipo='multiple' estado='modulos_empresas_usuario' multiples_nodos="true" id="modulos_empresas_usuario" class="contenedorArbol"></div>
    </div>

    <div class="col-md-4" ng-if='rootUsuario.rolAGuardar.id > 0' ng-controller='OpcionesModulosController' ng-init='init({eliminar:false, detalle:false, seleccionar:true})'>
        <div class="table-responsive" >
            <div class="grid-responsive listado_opciones" ng-grid="listado_opciones">

            </div>
        </div>
    </div>
</div>


