
<div class="col-md-1 col-sm-12">
    <button class="btn btn-default "  ng-click='onNuevoUsuario()' ng-validate-events="{{opcionesModulo.btnCrear}}"  name='btn_crear_usuario'>
            <span class="glyphicon glyphicon-plus"></span>
            Nuevo 
     </button>
    
</div>

<div class="input-group  navbar-form buscadorgeneral">

    <input type="text" class="form-control pull-right" ng-validate-events="{{validaciones.buscador}}" ng-keypress="onBuscarUsuario($event)" ng-model="rootUsuarios.termino_busqueda" placeholder="Buscar" />
    <div class="input-group-btn" >
        <button class="btn btn-default" type="submit" ng-click="onBuscarUsuario({which:13})"><i class="glyphicon glyphicon-search"></i></button>
    </div>

</div>



<div class="table-responsive" >

    <div class="defaultGrid grid-responsive" ng-grid="listado_usuarios">

    </div>
</div>

<br/>

<div class="row text-center">
    <button type="button" class="btn btn-default btn-medium" ng-disabled="rootUsuarios.paginaactual == 1" ng-click="paginaAnterior()">
        <span class="glyphicon glyphicon-chevron-left" ></span>
    </button>
    <button type="button" class="btn btn-default btn-medium" ng-disabled="rootUsuarios.usuarios.length == 0" ng-click="paginaSiguiente()">
        <span class="glyphicon glyphicon-chevron-right" ></span>
    </button>
</div>

